@mixin minimum {

.h1, .h2, .h3 {
	margin: 0;
}
.minimumbutton{
	height: 50px;
}

.logininfo {
	position: relative;
	.minimumbutton {
		position: absolute;
		bottom: 0;
	}
	.v-label {
		position: absolute;
		bottom: 50px;
	}
}

.photo {
	max-height: 100%;
	max-width: 100%;
}

.photocomp {
	padding-left: 5px;
}

.statusicon {
    font-family: FontAwesome;
    font-size: 200px;
    position: absolute;
    top: 0px;
    line-height: 1;
    
    &.ok:before {
    	content: '\f00c';
    	color: green;
    }
    &.notok:before{
    	content:'\f0e7';
    	color: red;
    }
    &.warn:before{
    	content: '\f017';
    	color: orange;
    }
}
}
 