@import "../reindeer/reindeer.scss";

@mixin minimum {
  @include reindeer;

.minimumbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
	background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
	background-color:#c123de;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	padding: 3px;
	text-indent:0px;
	border:1px solid #a511c0;
	display:table-cell;
	vertical-align:middle;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #9b14b3;
	min-width: 100px;
}
.minimumbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
	background-color:#a20dbd;
}

.minimumbutton:active {
	position:relative;
	top:1px;
}

.v-Notification-warning {
    background: none repeat scroll 0 0 #B40000;;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #CA3030;
}

}
 